// ---------------------------------animations-----------------------------------------------
@keyframes ship1 {
    0% {
        left: -100px;
    }

    100% {
        left: 110%;
    }
}

@keyframes ship2 {
    0% {
        right: -100px;
    }

    100% {
        right: 110%;
    }
}

// @keyframes paraload {
// 	0% {
// 		animation-timing-function: ease-in;
// 		opacity: 1;
// 		transform: translateY(-45px);
// 	}

// 	24% {
// 		opacity: 1;
// 	}

// 	40% {
// 		animation-timing-function: ease-in;
// 		transform: translateY(-24px);
// 	}

// 	65% {
// 		animation-timing-function: ease-in;
// 		transform: translateY(-12px);
// 	}

// 	82% {
// 		animation-timing-function: ease-in;
// 		transform: translateY(-6px);
// 	}

// 	93% {
// 		animation-timing-function: ease-in;
// 		transform: translateY(-4px);
// 	}

// 	25%,
// 	55%,
// 	75%,
//     87% {
// 		animation-timing-function: ease-out;
// 		transform: translateY(0px);
// 	}

// 	100% {
// 		animation-timing-function: ease-out;
// 		opacity: 1;
// 		transform: translateY(0px);
// 	}
// }

@keyframes parsaload {
    0%   { transform: translateY(-45px); opacity: 0; }
    60%  { transform: translateY(0);     opacity: 1; }
    75%  { transform: translateY(-15px); }
    90%  { transform: translateY(0); }
    100% { transform: translateY(0); }
  }

// -------------------------------------------------------------------------------
main {
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg3.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

// ---------------------------------ships-----------------------------
#ship1 {
    position: fixed;
    top: 10%;
    width: 50px;
    transform: rotate(90deg);
    animation: ship1 10s linear infinite;
}

#ship2 {
    position: fixed;
    bottom: 10%;
    width: 50px;
    transform: rotate(-90deg);
    animation: ship2 8s linear infinite;
}

// ---------------------------------start farame-----------------------------

#start-frame {
    width: 1000px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/frame1.png);
    background-size: cover;
    background-position: center;
    position: relative;

    >button {
        width: 200px;
        height: 50px;
        border: none;
        background: #922a9b;
        background: linear-gradient(90deg, rgba(146, 42, 155, 1) 0%, rgba(143, 87, 199, 1) 50%, rgba(237, 83, 83, 1) 100%);
        ;
        color: white;
        font-family: 'kamva';
        font-size: 30px;
        border-radius: 50px;

    }

    span {
        width: 76%;
        display: flex;
        height: 45%;
        background-color: rgba(0, 0, 0, 0.37);
        position: absolute;
        opacity: 0;
        transition: 1s ease-in-out;
        transform: scaleY(0);
        transform-origin: top;

    }

    >p {
        color: white;
        width: 70%;
        font-family: 'kamva';
        font-size: 30px;
        text-align: right;
        direction: rtl;
        display: none;
        position: relative;
        z-index: 2;
    }
}

#startGame {
    width: 200px;
    height: 50px;
    border: none;
    padding-top: 7px;
    background: #922a9b;
    background: linear-gradient(90deg, rgba(146, 42, 155, 1) 0%, rgba(143, 87, 199, 1) 50%, rgba(237, 83, 83, 1) 100%);
    ;
    color: white;
    font-family: 'kamva';
    font-size: 30px;
    border-radius: 50px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
}
// ---------------------------------start farame-----------------------------
#loading{
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.548);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: none;
    
    >img{
        animation: parsaload 2s ease infinite forwards;
    }

    p{
        color: white;
        font-family: 'kamva';
        font-size: 20px;
        margin-top: 20px;
    }
}